# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio
.vs/
.vscode/

# Unity / Visual Studio generated project files
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

# Builds
[Bb]uild/
[Bb]uilds/

# OS files
.DS_Store
Thumbs.db

.vsconfig